$background-body: #e4e4e4;
$background-header: #000000;
$background-code: #fffdfd;

html, body {
  background: $background-body;
  font-family: monospace;
}

.pure-g [class*=pure-u] {
  font-family: monospace;
}

#header {
  background: $background-header;
  height: 80px;
  width: 100%;

  img {
    height: 100%;
    margin: auto auto;
    display: block;
  }
}

code {
  font-size: 80%;
  background: $background-code;
  padding: 2px;
  border: 1px solid darken($background-code, 5%);
  color: darken($background-code, 45%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#content {
  margin-top: 5%;
}

.pure-u-11-24 {
  p {
    width: 80%;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

#footer {
  margin-top: 5%;
  bottom: 0%;
  width: 100%;
  height: 80px;
  background: darken($background-body, 5%);
  border-top: 1px solid darken($background-body, 15%);

  p {
    line-height: 1em;
    padding: 5px 5%;
  }
}